@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswalddemibold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldlight.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("../../fonts/oswaldregular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/sourcesanspro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/sourcesansprosemibold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../fonts/sourcesansprobold.ttf");
  font-weight: bold;
  font-style: normal;
}