$mainFont                : 'Source Sans Pro', Helvetica, Arial, sans-serif;

$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 2rem;

$desktopWidth            : 1280px;
$tableWidth              : 768px;
$phoneWidth              : 480px;