footer(class="footer")
    div(class="footer__container container")
        a(href="./index.html" class="footer__logo logo")
            svg(class="footer__icon" width="64" height="55" viewBox="0 0 32 28")
                use(xlink:href="./assets/images/sprites.svg#logo")
        nav(class="nav")
            ul(class="nav__list")
                li(class="nav__item")
                    a(href="./index.html" class="nav__item-link") Главная
                li(class="nav__item")
                    a(href="./team.html" class="nav__item-link") О команде
                li(class="nav__item nav__item")
                    a(href="./projects.html" class="nav__item-link") Наши проекты
                li(class="nav__item")
                    a(href="./blog.html" class="nav__item-link") Блог
                li(class="nav__item")
                    a(href="./contacts.html" class="nav__item-link") Контакты
        div(class="footer__copyright") 
            a(href="./law_info.html" class="footer__copyright-link") Правовая информация
        div(class="footer__callback")
            div(class="footer__callback-item")
                a(href="tel:+79876543210" class="footer__callback-link") +7 987 654 32 10
            div(class="footer__callback-item")
                a(href="mailto:Ennage@team.ru" class="footer__callback-link") Ennage@team.ru
