footer(class="footer")
    div(class="footer__container container")
        a(href="./index.html" class="footer__logo")
            svg(class="footer__icon")
                use(xlink:href="./assets/images/sprites.svg#logo")
        nav(class="footer__nav")
            ul(class="footer__nav-list")
                li(class="footer__nav-item")
                    a(href="./index.html" class="footer__nav-link") Главная
                li(class="footer__nav-item")
                    a(href="./team.html" class="footer__nav-link") О команде
                li(class="footer__nav-item")
                    a(href="./projects.html" class="footer__nav-link") Наши проекты
                li(class="footer__nav-item")
                    a(href="./blog.html" class="footer__nav-link") Блог
                li(class="footer__nav-item")
                    a(href="./contacts.html" class="footer__nav-link") Контакты
        div(class="footer__copyright") 
            a(href="./law_info.html" class="footer__copyright-link") Правовая информация
        div(class="footer__callback")
            div(class="footer__callback-item")
                a(href="tel:+79876543210" class="footer__callback-link") +7 987 654 32 10
            div(class="footer__callback-item")
                a(href="mailto:Ennage@team.ru" class="footer__callback-link") Ennage@team.ru
