//- header without active link in .nav
header(class="header")
    div(class="header__container container")
        a(href="./index.html" class="logo")
            svg(class="header__icon" width="32" height="28" viewBox="0 0 32 28")
                use(xlink:href="./assets/images/sprites.svg#logo")
        div(class="header__overlay")
            nav(class="nav")
                ul(class="nav__list")
                    li(class="nav__item")
                        a(href="./team.html" class="nav__item-link") О команде
                    li(class="nav__item nav__item--static")
                        a(href="./projects.html" class="nav__item-link") Наши проекты
                    li(class="nav__item")
                        a(href="./blog.html" class="nav__item-link") Блог
                    li(class="nav__item")
                        a(href="./contacts.html" class="nav__item-link") Контакты
            button(class="btn btn__blue") Связаться с нами
        div(class="hamburger")
            svg(class="header__icon hamburger__open" width="40" height="24" viewBox="0 0 40 24")
                use(xlink:href="./assets/images/sprites.svg#hamburger")
            svg(class="header__icon hamburger__close" width="34" height="34" viewBox="0 0 34 34")
                use(xlink:href="./assets/images/sprites.svg#close")