//- header without .header__current-link and active link in .nav
header(class="header")
    div(class="header__container container")
        div(class="header__up")
            a(href="./index.html" class="header__logo")
                svg(class="header__icon")
                    use(xlink:href="./assets/images/sprites.svg#logo")
            a(class="header__current-link") 
            div(class="hamburger")
                div(class="hamburger__open")
                    svg(class="header__icon")
                        use(xlink:href="./assets/images/sprites.svg#hamburger")
                div(class="hamburger__close")
                    svg(class="header__icon")
                        use(xlink:href="./assets/images/sprites.svg#close")
        div(class="header__overlay")
            nav(class="header__nav")
                ul(class="header__nav-list")
                    li(class="header__nav-item")
                        a(href="./team.html" class="header__nav-link") О команде
                    li(class="header__nav-item")
                        a(href="./projects.html" class="header__nav-link") Наши проекты
                    li(class="header__nav-item")
                        a(href="./blog.html" class="header__nav-link") Блог
                    li(class="header__nav-item")
                        a(href="./contacts.html" class="header__nav-link") Контакты
            button(class="btn btn__blue") Связаться с нами