div(class="preloader")
    div(class="preloader__wrap")
        div(class="preloader__title")
            span(class="preloader__heading") ENNAGE &#128293;
            span(class="preloader__subheading") больше чем команда
        div(class="preloader__bar")
            div(class="preloader__progress")