@import "../utils/vars.scss";
@import "../utils/mixins.scss";

@import "../imports/header";
@import "../imports/page-head.scss";
@import "../imports/section-head.scss";
@import "../imports/footer";

/* Contacts
  ========================================================================== */
.contacts {
  & .page-head {
    margin-bottom: rem(104px);
  }
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: -2rem;
    @include tablets {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0rem;
    }
    .page-head__wrap + & {
      margin-top: rem(136px);
      @include phones {
        margin-top: rem(120px);
      }
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    &:not(:last-child) {
      margin-right: 1rem;
      @include tablets {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    &-title {
      font-family: "Oswald";
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--graniteGray);
      margin-bottom: 1.5rem;
    }
    &-link {
      font-family: "Oswald";
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--royalBlue);
    }
  }
  &__sublist {
    display: flex;
    align-items: center;
  }
  &__subitem {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__behavior {
    width: 2rem;
    height: rem(21px);
    display: flex;
  }
  &__inst {
    width: 2rem;
    height: 2rem;
    display: flex;
  }
  &__telegram {
    width: 2rem;
    height: rem(28px);
    display: flex;
  }
  &__vk {
    width: 2rem;
    height: rem(19px);
    display: flex;
  }
  &__icon {
    fill: var(--royalBlue);
  }
  &__emoji {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.5rem;
    background-size: 300%;
    flex: 0 0 auto;
  }
}

/* Callback section
  ========================================================================== */
.callback {
  background: var(--graniteGray05);
  padding: rem(56px) 0 rem(72px) 0;
  margin-bottom: 0;
  &__container {
    max-width: rem(384px);
    display: flex;
    flex-direction: column;
    align-items: center;
    @include phones{
      max-width: none;
    }
  }
  &__emoji {
    min-width: 5rem;
    min-height: 5rem;
    margin-bottom: 1.875rem;
    background-size: 300%;
  }
  &__heading {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: var(--graniteGray);
    margin-bottom: 1.875rem;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  &__label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--graniteGray65);
    margin-bottom: rem(5px);
  }
  &__input,
  &__textarea {
    width: 100%;
    background: white;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 1rem;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--graniteGray);
    appearance: none;
    outline: none;
    transition: 0.3s;
  }
  &__input {
    // if input valid check default styles of input
    &[data-validate="false"] {
      outline: 0.0625rem solid var(--carminePink);
    }
    &:placeholder-shown {
      background: white;
      outline: 0.0625rem solid var(--graniteGray35);
    }
    &[data-validate="invalid"] {
      outline: 0.0625rem solid var(--carminePink);
    }
    &:hover {
      background: var(--royalBlue05);
      outline: 0.0625rem solid var(--royalBlue);
    }
    &:focus {
      background: white;
      outline: 0.125rem solid var(--royalBlue);
      color: var(--grayBlue);
    }
  }
  &__textarea {
    height: rem(168px);
    outline: 0.0625rem solid var(--graniteGray35);
    &:hover {
      background: var(--royalBlue05);
      outline: 0.0625rem solid var(--royalBlue);
    }
    &:focus {
      background: white;
      outline: 0.125rem solid var(--royalBlue);
      color: var(--grayBlue);
    }
  }
}
