@import "../utils/vars.scss";
@import "../utils/mixins.scss";

@import "../imports/header";
@import "../imports/page-head.scss";
@import "../imports/section-head.scss";
@import "../imports/footer";

/* Contacts
  ========================================================================== */
.contacts {
  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &-title {
      font-family: "Oswald";
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 3rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--graniteGray);
      margin-bottom: 1.5rem;
    }
    &-link {
      font-family: "Oswald";
      font-style: normal;
      font-weight: bold;
      font-size: 1.5rem;
      line-height: 2rem;
      text-align: center;
      text-transform: uppercase;
      color: var(--royalBlue);
    }
  }
  &__sublist {
    display: flex;
    align-items: center;
  }
  &__subitem {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__icon {
    fill: var(--royalBlue);
  }
  &__emoji {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.5rem;
    background-size: 300%;
  }
}

/* Callback section
  ========================================================================== */
.callback {
  background: var(--graniteGray05);
  &__container {
    margin: rem(56px) auto rem(72px);
    max-width: rem(384px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__emoji {
    width: 5rem;
    height: 5rem;
    margin-bottom: 1.875rem;
    background-size: 300%;
  }
  &__heading {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.5rem;
    text-transform: uppercase;
    color: var(--graniteGray);
    margin-bottom: 1.875rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  &__label {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--graniteGray65);
    margin-bottom: rem(5px);
  }
  &__input,
  &__textarea {
    width: 100%;
    background: white;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 1rem;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--graniteGray);
    appearance: none;
    outline: none;
    &:hover {
      background: var(--royalBlue05);
      outline: 0.0625rem solid var(--royalBlue);
    }
    &:focus {
      background: white;
      outline: 0.125rem solid var(--royalBlue);
      color: var(--grayBlue);
    }
  }
  &__input {
    &[data-validate="false"]:not(:focus) {
      outline: 0.0625rem solid var(--carminePink);
    }
    &:placeholder-shown {
      background: white;
      outline: 0.0625rem solid var(--graniteGray35);
    }
    &[data-validate="invalid"]:not(:focus) {
      outline: 0.0625rem solid var(--carminePink);
    }
  }
  &__textarea {
    height: rem(168px);
    outline: 0.0625rem solid var(--graniteGray35);
  }
}
