@import "../utils/vars.scss";
@import "../utils/mixins.scss";

@import "../imports/header";
@import "../imports/page-head.scss";
@import "../imports/section-head.scss";
@import "../imports/footer";

/* law information
  ========================================================================== */
.law-info {
  & .page-head {
    margin-bottom: 4rem;
  }
  &__wrap {
    padding: 1rem;
    background: var(--graniteGray05);
    width: 100%;
    .page-head__wrap + & {
      margin-top: 6rem;
      @include phones{
        margin-top: 5rem;
      }
    }
  }
  &__link {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-decoration-line: underline;
    color: var(--royalBlue);
  }
}
