@import "../utils/libs";
@import "../utils/mixins";
@import "../utils/vars";
@import "../utils/fonts";
@import "../utils/reset";

/* Main styles
  ========================================================================== */
html {
  font-size: $mainFontSize;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.fixed {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// colors
:root {
  --royalBlue: #4f68ec;
  --royalBlue10: #edf0fd;
  --royalBlue05: #f6f7fe;
  --grayBlue: #25262e;
  --graniteGray: #2c2f43;
  --carminePink: #f54f45;
  --graniteGray75: #616372;
  --graniteGray65: #767885;
  --graniteGray35: #b5b6bd;
  --graniteGray05: #f4f5f6;
  --graniteGray10: #eaeaec;
}

// styles of main elements
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
  background: white;
}
main {
  padding-top: 10rem;
}
section {
  margin-bottom: 10rem;
  @include tablets {
    margin-bottom: 7rem;
  }
  @include tablets {
    margin-bottom: 5rem;
  }
}
.container {
  width: 95%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;
}

%btnStyles {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: fit-content;
  transition: 0.2s;
  cursor: pointer;
  &.disable {
    color: var(--graniteGray65);
    background: var(--graniteGray10);
    pointer-events: none;
  }
}
.btn {
  @extend %btnStyles;
  font-family: "Source Sans Pro";
  padding: 0.5rem rem(39px);
  border-radius: 0.25rem;
  &__black {
    background: var(--graniteGray);
    color: white;
    &:hover {
      background: var(--royalBlue);
    }
  }
  &__blue {
    background: var(--royalBlue);
    color: white;
    &:hover {
      background: var(--graniteGray);
    }
  }
  &-large {
    @extend %btnStyles;
    font-family: "Source Sans Pro";
    padding: 1rem 2rem;
    border-radius: 0.25rem;
  }
  &-ref {
    @extend %btnStyles;
    font-family: "Oswald";
    border-radius: rem(100px);
    text-transform: uppercase;
    background: white;
    border: 0.125rem solid var(--graniteGray10);
    padding: 1rem 1.5rem;
    color: var(--royalBlue);
    &__icon {
      fill: var(--royalBlue);
    }
    &__arrow {
      display: flex;
      width: rem(33px);
      height: rem(13px);
      & + span,
      span + & {
        margin-left: 0.75rem;
      }
    }
  }
}

@import "../imports/preloader.scss";
