@import "../utils/libs";
@import "../utils/mixins";
@import "../utils/vars";
@import "../utils/fonts";
@import "../utils/reset";

/* Main styles
  ========================================================================== */
html {
  font-size: $mainFontSize;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

// colors
:root {
  --royalBlue: #4f68ec;
  --royalBlue10: #edf0fd;
  --royalBlue05: #f6f7fe;
  --graniteGray: #2c2f43;
  --graniteGray75: #616372;
  --graniteGray65: #767885;
  --graniteGray35: #b5b6bd;
  --graniteGray05: #f4f5f6;
  --graniteGray10: #eaeaec;
}

// styles of main elements
.wrapper {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vw;
}
.container {
  width: 95%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: $desktopWidth;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  white-space: nowrap;
  width: fit-content;
  &--blue {
    background: var(--royalBlue);
    color: white;
    padding: 0.5rem 2.5rem;
  }
  &__ref {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.5rem;
    border-radius: rem(100px);
    display: flex;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    text-transform: uppercase;
  }
}

@import "../imports/preloader.scss";