@import "../utils/libs";
@import "../utils/mixins";
@import "../utils/vars";
@import "../utils/fonts";
@import "../utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
:root {
  --royalBlue: #4f68ec;
  --graniteGray: #2c2f43;
  --graniteGray75: #616372;
  --graniteGray65: #767885;
  --graniteGray35: #b5b6bd;
  --graniteGray05: #f4f5f6;
  --graniteGray10: #eaeaec;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  min-width: 100vh;
}
.container {
  width: 95%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10rem;
  max-width: $desktopWidth;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  white-space: nowrap;
  &--blue {
    background: var(--royalBlue);
    color: white;
    padding: 0.5rem 2.5rem;
  }
}
@import "../imports/header";
@import "../imports/page-head.scss";
@import "../imports/section-head.scss";
@import "../imports/footer";
