.section-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  &__wrap {
    display: flex;
    flex-direction: column;
    max-width: rem(594px);
  }
  &__heading {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: rem(56px);
    color: var(--graniteGray);
    line-height: rem(72px);
    text-transform: uppercase;
  }
  &__subheading {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: rem(56px);
    color: var(--graniteGray35);
    line-height: rem(72px);
    text-transform: uppercase;
  }
  &__ref-btn {
    background: white;
    border: 0.125rem solid var(--graniteGray10);
    padding: 1rem 1.5rem;
    color: var(--royalBlue);
  }
  &__ref-icon {
    margin-left: 0.75rem;
    fill: var(--royalBlue);
  }
}
