/* Section reference
  ========================================================================== */
.section-ref {
  background: var(--graniteGray05);
  &__container {
    margin-top: 4.5rem;
    margin-bottom: 4rem;
  }
  &__title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--graniteGray);
    margin-bottom: 3rem;
  }
  & .articles__item {
    background: white;
  }
}
