/* Section reference
  ========================================================================== */
.section-ref {
  background: var(--graniteGray05);
  padding-top: 4.5rem;
  padding-bottom: 4rem;
  margin-bottom: 0;
  &__title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: var(--graniteGray);
    margin-bottom: 3rem;
    @include phones{
      text-align: center;
    }
  }
  & .articles__item {
    background: white;
  }
}
