doctype html
html(lang="en")
    head
        title Main
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./assets/css/main.css" type="text/css" rel="stylesheet")
        link(href="./assets/css/contacts.css" type="text/css" rel="stylesheet")
    body
        include ../includes/preloader.pug
        div(class="wrapper")
            include ../includes/header.pug
            section(class="page-head")
                div(class="page-head__container container")
                    div(class="page-head__wrap")
                        div(class="section-head")
                            div(class="section-head__wrap")
                                div(class="section-head__heading") контакты &#9732;
                                div(class="section-head__subheading") больше чем команда
                        div(class="page-head__text") Здесь вы найдете ссылки на наши социальные сети, наши контакты и даже можете оставить заявку на проект.
            section(class="contacts")
                div(class="contacts__container container")
                    ul(class="contacts__list")
                        li(class="contacts__item")
                            div(class="contacts__emoji" style="background:url('./assets/images/sprites.png') -160px -0;")
                            div(class="contacts__item-title") Звоните
                            a(href="tel:+79876543210" class="contacts__item-link") +7 (987) 654-32-10
                        li(class="contacts__item")
                            div(class="contacts__emoji" style="background:url('./assets/images/sprites.png') -80px -80px;")
                            div(class="contacts__item-title") Пишите
                            a(href="mailto:Ennage@team.ru" class="contacts__item-link") Ennage@team.ru
                        li(class="contacts__item")
                            div(class="contacts__emoji" style="background:url('./assets/images/sprites.png') -0 -160px;")
                            div(class="contacts__item-title") смотрите
                            ul(class="contacts__sublist")
                                li(class="contacts__subitem")
                                    a(class="contacts__icon-link")
                                        svg(class="contacts__icon" width="32" height="22" viewBox="0 0 32 22")
                                            use(xlink:href="./assets/images/sprites.svg#behavior")
                                li(class="contacts__subitem")
                                    a(class="contacts__icon-link")
                                        svg(class="contacts__icon" width="32" height="32" viewBox="0 0 32 32")
                                            use(xlink:href="./assets/images/sprites.svg#inst")
                                li(class="contacts__subitem")
                                    a(class="contacts__icon-link")
                                        svg(class="contacts__icon" width="32" height="28" viewBox="0 0 32 28")
                                            use(xlink:href="./assets/images/sprites.svg#telegram")
                                li(class="contacts__subitem")
                                    a(class="contacts__icon-link")
                                        svg(class="contacts__icon" width="32" height="20" viewBox="0 0 32 20")
                                            use(xlink:href="./assets/images/sprites.svg#vk")
            section(class="callback")
                div(class="callback__container container")
                    div(class="callback__emoji" style="background:url('./assets/images/sprites.png') -80px -0;")
                    div(class="callback__heading") или оставьте заявку
                    form(class="callback__form")
                        div(class="callback__wrap")
                            label(class="callback__label" for="callback-input1") Как к вам обращаться? *
                            input(class="callback__input" id="callback-input1" type="text" placeholder="Иванов Иван Иванович")
                        div(class="callback__wrap")
                            label(class="callback__label" for="callback-input2") Ваша почта *
                            input(class="callback__input" id="callback-input2" type="text" placeholder="Placeholder")
                        div(class="callback__wrap")
                            label(class="callback__label" for="callback-input3") Ваш номер телефона *
                            input(class="callback__input" id="callback-input3" type="text" placeholder="+7 (987) 654-32-10")
                        div(class="callback__wrap")
                            label(class="callback__label" for="callback-textarea1") Расскажите, чем можем быть полезны?
                            textarea(class="callback__textarea" id="callback-textarea1" type="text"  placeholder="Ссылка на резюме, задача, предложение — все что угодно:)")
                        button(class="callback__submit btn" type="submit") Отправить
            include ../includes/footer.pug
        script(src="./assets/js/main.js" type="text/javascript")