doctype html
html(lang="en")
    head
        title Contacts
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./assets/css/main.css" type="text/css" rel="stylesheet")
        link(href="./assets/css/contacts.css" type="text/css" rel="stylesheet")
    body(class="fixed")
        include ../includes/preloader.pug
        div(class="wrapper")
            header(class="header")
                div(class="header__container container")
                    div(class="header__up")
                        a(href="./index.html" class="header__logo")
                            svg(class="header__icon")
                                use(xlink:href="./assets/images/sprites.svg#logo")
                        a(class="header__current-link") Контакты
                        div(class="hamburger")
                            div(class="hamburger__open")
                                svg(class="header__icon")
                                    use(xlink:href="./assets/images/sprites.svg#hamburger")
                            div(class="hamburger__close")
                                svg(class="header__icon")
                                    use(xlink:href="./assets/images/sprites.svg#close")
                    div(class="header__overlay")
                        nav(class="header__nav")
                            ul(class="header__nav-list")
                                li(class="header__nav-item")
                                    a(href="./team.html" class="header__nav-link") О команде
                                li(class="header__nav-item")
                                    a(href="./projects.html" class="header__nav-link") Наши проекты
                                li(class="header__nav-item")
                                    a(href="./blog.html" class="header__nav-link") Блог
                                li(class="header__nav-item active")
                                    a(href="./contacts.html" class="header__nav-link") Контакты
                        button(class="btn btn__blue") Связаться с нами
            main(class="contacts")
                section(class="page-head")
                    div(class="page-head__container container")
                        div(class="page-head__wrap")
                            div(class="section-head")
                                div(class="section-head__wrap")
                                    div(class="section-head__heading") контакты &#9732;
                                    div(class="section-head__subheading") больше чем команда
                            div(class="page-head__text") Здесь вы найдете ссылки на наши социальные сети, наши контакты и даже можете оставить заявку на проект.
                        ul(class="contacts__list")
                            li(class="contacts__item")
                                div(class="contacts__emoji" style="background-image: url('./assets/images/sprites.png');background-position: -160px -80px;")
                                div(class="contacts__item-title") Звоните
                                a(href="tel:+79876543210" class="contacts__item-link") +7 (987) 654-32-10
                            li(class="contacts__item")
                                div(class="contacts__emoji" style="background-image: url('./assets/images/sprites.png');background-position: -400px 0;")
                                div(class="contacts__item-title") Пишите
                                a(href="mailto:Ennage@team.ru" class="contacts__item-link") Ennage@team.ru
                            li(class="contacts__item")
                                div(class="contacts__emoji" style="background-image: url('./assets/images/sprites.png');background-position: 0 -160px;")
                                div(class="contacts__item-title") смотрите
                                ul(class="contacts__sublist")
                                    li(class="contacts__subitem")
                                        a(class="contacts__icon-link")
                                            div(class="contacts__behavior")
                                                svg(class="contacts__icon")
                                                    use(xlink:href="./assets/images/sprites.svg#behavior")
                                    li(class="contacts__subitem")
                                        a(class="contacts__icon-link")
                                            div(class="contacts__inst")
                                                svg(class="contacts__icon")
                                                    use(xlink:href="./assets/images/sprites.svg#inst")
                                    li(class="contacts__subitem")
                                        a(class="contacts__icon-link")
                                            div(class="contacts__telegram")
                                                svg(class="contacts__icon")
                                                    use(xlink:href="./assets/images/sprites.svg#telegram")
                                    li(class="contacts__subitem")
                                        a(class="contacts__icon-link")
                                            div(class="contacts__vk")
                                                svg(class="contacts__icon")
                                                    use(xlink:href="./assets/images/sprites.svg#vk")
                section(class="callback")
                    div(class="callback__container container")
                        div(class="callback__emoji" style="background-image: url('./assets/images/sprites.png');background-position: -80px -400px;")
                        div(class="callback__heading") или оставьте заявку
                        form(class="callback__form")
                            div(class="callback__wrap")
                                label(class="callback__label" for="callback-input1") Как к вам обращаться? *
                                input(class="callback__input" name="name" id="callback-input1" type="text" placeholder="Иванов Иван Иванович" )
                            div(class="callback__wrap")
                                label(class="callback__label" for="callback-input2") Ваша почта *
                                input(class="callback__input" name="email" id="callback-input2" type="text" placeholder="Placeholder" )
                            div(class="callback__wrap")
                                label(class="callback__label" for="callback-input3") Ваш номер телефона *
                                input(class="callback__input" name="phone" id="callback-input3" type="text" placeholder="+7 (987) 654-32-10" )
                            div(class="callback__wrap")
                                label(class="callback__label" for="callback-textarea1") Расскажите, чем можем быть полезны?
                                textarea(class="callback__textarea" id="callback-textarea1" type="text" placeholder="Ссылка на резюме, задача, предложение — все что угодно:)")
                            button(class="callback__submit btn btn__blue" type="submit") Отправить
            include ../includes/footer.pug
        include ../includes/scripts.pug
        script(src="./assets/js/contacts.js" type="text/javascript")