doctype html
html(lang="en")
    head
        title Law info
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(href="./assets/css/main.css" type="text/css" rel="stylesheet")
        link(href="./assets/css/law_info.css" type="text/css" rel="stylesheet")
    body
        include ../includes/preloader.pug
        div(class="wrapper")
            include ../includes/header.pug
            section(class="page-head")
                div(class=" container")
                    div(class="page-head__wrap")
                        div(class="section-head")
                            div(class="section-head__wrap")
                                div(class="section-head__heading") Правовая информация &#127758;
                        div(class="page-head__text") Все наши документы есть тут и с ними можно (и даже нужно) ознакомиться.!
            div(class="law-info")
                div(class="law-info__container container")
                    a(class="law-info__link") Политика конфиденциальности
            include ../includes/footer.pug
        include ../includes/scripts.pug